<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
	<validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="web.config" />
      </files>
    </defaultDocument>
    <httpErrors>
      <clear />
    </httpErrors>
  </system.webServer>
  <appSettings>
    <add key="CS_DV_Password" value="dv0811P@ssw0rd" />
    <add key="CS_DV_URL" value="http://SVRDV03/DocsVision/StorageServer/StorageServerService.asmx" />
    <add key="CS_DV_User" value="PKVS\dvprocess" />
    <add key="CS_DV_DB" value="docsvision55" /> 
<add key="CS_TempMigration" value="C:\TempMigration"/>
  </appSettings>
  <connectionStrings />
  <system.web>
    <authentication mode="Forms">
      <forms>
        <credentials passwordFormat="SHA1">
          <user name="admin" password="df2efa060e335f97628ca39c9fef5469ab3cb837" />
        </credentials>
      </forms>
    </authentication>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />		 
        <add assembly="DocsVision.BackOffice.ObjectModel, Version=5.0.0.0, Culture=neutral, PublicKeyToken=7148AFE997F90519" />
        <add assembly="DocsVision.Platform, Version=5.0.0.0, Culture=neutral, PublicKeyToken=7148AFE997F90519" />
		<add assembly="DocsVision.Platform.ObjectManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=7148AFE997F90519" />
        <add assembly="DocsVision.Platform.ObjectModel, Version=5.0.0.0, Culture=neutral, PublicKeyToken=7148AFE997F90519" />
        <add assembly="DocsVision.Platform.StorageServer, Version=5.0.0.0, Culture=neutral, PublicKeyToken=7148AFE997F90519" />
        <add assembly="DocsVision.Platform.SystemCards.ObjectModel, Version=5.0.0.0, Culture=neutral, PublicKeyToken=7148AFE997F90519" />
        <add assembly="DocsVision.BackOffice.Localization, Version=5.0.0.0, Culture=neutral, PublicKeyToken=7148AFE997F90519" />
      </assemblies>
    </compilation>
    <httpRuntime executionTimeout="8400000" maxRequestLength="1000720" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
  </system.web>
</configuration>